@font-face {
    font-family: 'entypo';
    src: url('../fonts/entypo.eot');
    src: url('../fonts/entypo.eot?#iefix') format('embedded-opentype'),
         url('../fonts/entypo.woff') format('woff'),
         url('../fonts/entypo.ttf') format('truetype'),
         url('../fonts/entypo.svg#entypo') format('svg');
    font-weight: normal;
    font-style: normal;

}

html, body {
	width:100%;
	height:100%;
	min-width: 320px;
	overflow: hidden;
	background: url('../img/snakes.jpeg');
	background-repeat: no-repeat;
	background-position: top center;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	-ms-background-size: 100% 100%;
	background-size: 100% 100%;
}

.browser {
	position:relative;
	height:24px;
	padding:20px 0;
	background-color: rgba(255,255,255,0.7);

	form {
		width:70%;
		margin:0 auto;

		a.home {
			font-family: 'entypo';
			font-size: 40px;
			float:left;
			line-height:26px;
			display:inline-block;
			height:26px;
			float:right;
			text-decoration: none;
			color:black;
		}

		input {
			border:1px solid #fff;
			background-color:#fff;
			position: absolute;
			top:20px;
			width:206px;

			height:20px;
			padding:2px;
		}

		i {
			font-family: 'entypo';
			font-size: 50px;
			line-height:26px;
			display:block;
			height:26px;
			width:14px;
			padding:0 5px;

			position: relative;
			top:0px;
			left:220px;
			font-style: normal;
			background-color:#eee;

			cursor: pointer;
		}
	}
}

.viewport {
	height:100%;
}

iframe.hipsterframe {
	width:100%;
	background-color: #fff;
	border:none;
}



.start {
	width:100%;
	height:100%;

	.hey {
		h1 {
			text-align: center;
			color:#fff;
			text-shadow:0 1px 2px #333;
			font-size: 50px;
			line-height: 100px;
			font-family: 'Pacifico', cursive;
			font-weight: 400;
		}
		p {
			color:white;
			text-shadow:0 1px 2px #333;
			text-align: center;
			-webkit-font-smoothing: antialiased;
			font-family: 'Helvetica Neue', sans-serif;
			margin:0;
		}

		form {
			padding:10px 50px;

			input {
				border:1px solid #fff;
				background-color:rgba(255,255,255,0.9);
				padding:5px;
				border-radius:3px;
				box-shadow: 0 0px 3px rgba(0,0,0,0.5);
			}
			input[type=text] {
				width:243px;
				margin-right:10px;
			}
		}

		position: relative;
		height:140px;
		width:400px;
		top:50%;
		margin:-70px auto 0 auto;

		background: -moz-linear-gradient(top,  rgba(255,255,255,0.3) 0%, rgba(229,229,229,0.05) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.3)), color-stop(100%,rgba(229,229,229,0.05)));
		background: -webkit-linear-gradient(top,  rgba(255,255,255,0.3) 0%,rgba(229,229,229,0.05) 100%);
		background: -o-linear-gradient(top,  rgba(255,255,255,0.3) 0%,rgba(229,229,229,0.05) 100%);
		background: -ms-linear-gradient(top,  rgba(255,255,255,0.3) 0%,rgba(229,229,229,0.05) 100%);
		background: linear-gradient(to bottom,  rgba(255,255,255,0.3) 0%,rgba(229,229,229,0.05) 100%);
		box-shadow: 0 1px 5px rgba(0,0,0,0.5);
		border-radius: 5px;
	}

	#social {
	    position: fixed;
	    bottom: 30px;
	    left: 40px;
	}
	#copy {
	    position: fixed;
	    bottom: 35px;
	    right: 40px;
	    opacity: 0.8;
	    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";

	    p {
	    	margin:0;
	    	color:white;			
	    	text-shadow:0 1px 2px #333;
			-webkit-font-smoothing: antialiased;
			font-family: 'Helvetica Neue', sans-serif;
			font-size: 12px;
	    }
	    a {
	    	color:white;
	    }
	}
}